<!DOCTYPE html>
<html ng-app="iFleet">
	<head>
		<meta charset="iso-8859-1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>iFleet - Sistema de Controle de Frotas</title>
		<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="css/545,45417,545487.css">
	</head>
<body>
	<div class="ui container">
		<br>
		<div class="ui secondary menu">
			<div class="header item">iFleet - Sistema de Controle de Frota</div>
			<div class="right menu">
				<div class="ui item">Admin</div>
				<div class="ui item">|</div>
				<a class="ui item">Logout</a>
			</div>
		</div>
		<div class="ui divider"></div>
		<br>
		<div class="ui grid">
			<div class="four wide column">
				<div class="ui olive vertical pointing fluid menu">

					<div class="item">
						<div class="header"><i class="browser icon"></i> Cadastros</div>
						<div class="menu" ng-init="selectedTab = 'veiculos'">
							<a ng-class="{'active':selectedTab === 'controles'}" ng-click="selectedTab = 'controles'" href="#/cadastrocontroles" class="item">Controles</a>
							<a ng-class="{'active':selectedTab === 'fornecedores'}" ng-click="selectedTab = 'fornecedores'" href="#/cadastrofornecedores" class="item">Fornecedores</a>
							<a ng-class="{'active':selectedTab === 'marcas'}" ng-click="selectedTab = 'marcas'" href="#/cadastromarcas" class="item">Marcas</a>
							<a ng-class="{'active':selectedTab === 'modelos'}" ng-click="selectedTab = 'modelos'" href="#/cadastromodelos" class="item">Modelos</a>
							<a ng-class="{'active':selectedTab === 'veiculos'}" ng-click="selectedTab = 'veiculos'" href="#/cadastroveiculos" class="item">Veículos</a>
						</div>
					</div>
					<div class="item">
						<div class="header"><i class="bar chart icon"></i> Relatórios</div>
						<div class="menu">
							<a href="#relatorio-controles" class="item">Controles</a>
						</div>
					</div>


				</div>
			</div>
			<div ng-view class="twelve wide column"></div>
		</div>
	</div>

	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/lib/angular-resource.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="semantic/semantic.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services/veiculosAPIService.js"></script>
	<script src="js/services/marcasAPIService.js"></script>
	<script src="js/services/modelosAPIService.js"></script>
	<script src="js/services/controlesAPIService.js"></script>
	<script src="js/services/fornecedoresAPIService.js"></script>

</body>

</html>