<table class="ui olive striped table">
  <thead>
    <tr>
      <th>Data</th>
      <th width="25%">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="controle in controles">
      <td>{{controle.data | date:"dd/MM/yyyy"}}</td>
      <td>
        <div class="tiny ui buttons">
            <a href="#/formulariocontrole/{{controle.id}}" class="ui blue button">Editar</a>
            <a href="#/deletarcontrole/{{controle.id}}" class="ui yellow button">Deletar</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
