<table class="ui olive striped table">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Marca</th>
      <th width="25%">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="modelo in modelos">
      <td>{{modelo.descricao}}</td>
      <td></td>
      <td>
        <div class="tiny ui buttons">
            <a href="#/formulariomodelo/{{modelo.id}}" class="ui blue button">Editar</a>
            <a href="#/deletarmodelo/{{modelo.id}}" class="ui yellow button">Deletar</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
