<table class="ui olive striped table">
  <thead>
    <tr>
      <th>Placa</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th width="25%">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="veiculo in veiculos" ng-click="clicar(veiculo.id)">
      <td>{{veiculo.placa}}</td>
      <td>{{veiculo.marca}}</td>
      <td>{{veiculo.modelo}}</td>
      <td>
        <div class="tiny ui buttons">
            <a href="#/formularioveiculo/{{veiculo.id}}" class="ui blue button">Editar</a>
            <a href="#/deletarveiculo/{{veiculo.id}}" class="ui yellow button">Deletar</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
