<h4 class="ui horizontal divider header">
	<i class="tag icon"></i>
	Formulário Veículo
</h4>
<form class="ui form">
	<div class="field">
		<label>Placa</label>
		<input type="text" name="placa" placeholder="Placa" value="{{veiculo.placa}}">
	</div>
	<div class="field">
		<label>KM Inicial</label>
		<input type="text" name="kilometro_inicial" placeholder="KM Inicial" value="{{veiculo.kilometro_inicial}}">
	</div>
	<div class="field">
		<label>Marca</label>
		<div class="ui selection dropdown">
			<input type="hidden" name="marca">
			<i class="dropdown icon"></i>
			<div class="default text">Marca</div>
			<div class="menu">
				<div ng-repeat="marca in marcas" class="item" data-value="{{marca.id}}">{{marca.descricao}}</div>
			</div>
		</div>
	</div>
	<div class="field">
		<label>Modelo</label>
		<div class="ui selection dropdown">
			<input type="hidden" name="modelo">
			<i class="dropdown icon"></i>
			<div class="default text">Modelo</div>
			<div class="menu">
				<div ng-repeat="modelo in modelos" class="item" data-value="{{modelo.id}}">{{modelo.descricao}}</div>
			</div>
		</div>
	</div>
	<button class="ui fluid button" type="submit">Salvar</button>
</form>