<h4 class="ui horizontal divider header">
	<i class="tag icon"></i>
	Formulário Modelo
</h4>
<form class="ui form">
	<div class="field">
		<label>Descrição</label>
		<input type="text" name="descricao" placeholder="Descrição" value="{{modelo.descricao}}">
	</div>
	<div class="field">
		<label>Marca</label>
		<div class="ui selection dropdown">
			<input type="hidden" name="marca">
			<i class="dropdown icon"></i>
			<div class="default text">Marca</div>
			<div class="menu">
				<div ng-repeat="marca in marcas" class="item" data-value="{{marca.id}}">{{marca.descricao}}</div>
			</div>
		</div>
	</div>
	<button class="ui fluid button" type="submit">Salvar</button>
</form>
